# Gradle
.gradle/
/build/
**/build/
local.properties
/.idea/
*.iml
/captures/
.externalNativeBuild/
.cxx/
# Sign keys
*.keystore
*.jks
# Google services
app/google-services.json
# Android Studio
.idea/**
.navigation/
# Generated
outputs/
.vercel
